@model List<Book>

@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2><p class="col-lg-1">Sort by:</p>
<p class="col-lg-3">@Html.DropDownListFor(x => x.FirstOrDefault().GenreId, (IEnumerable<SelectListItem>)ViewBag.Genres, new { @class = "form-control" })</p>

<div id="booksListContainer"></div>
@section Scripts{
<script>
    $(function () {
        debugger;
    var dropdownElement = $("#GenreId");
    dropdownElement.change(function () {
        debugger;
        var genreId = dropdownElement.val();
$.get({
            url: '@Url.Action("BooksList")' + '?genreId=' + genreId,
success: function(data){
    $("#booksListContainer").html(data);
    },
    error: function (data) {
        debugger;

    }
        });
    })

    })
</script>
}